'exception-reporting':
  'userId': 'ccab2bda-f374-04be-c80b-2c5561769def'
'release-notes':
  'viewedVersion': '0.80.0'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': 'cfdf9a8d03c730f2399ee7e9bcedd56f396072a6'
'editor':
  'fontFamily': 'Menlo'
  'softWrap': true
  'fontSize': 13
  'lineHeight': 1.4
  'showIndentGuide': true
'core':
  'themes': [
    'atom-light-ui'
    'atom-light-syntax'
  ]
  'ignoredNames': [
    '.git'
    '.svn'
    '.ssh'
    '.DS_Store'
  ]
  'disabledPackages': [
    'feedback'
    'background-tips'
  ]
  'excludeVcsIgnoredPaths': false
'tree-view':
  'hideVcsIgnoredFiles': true
  'hideIgnoredNames': true
'whitespace':
  'ignoreWhitespaceOnCurrentLine': false
'spell-check':
  'grammars': [
    'source.gfm'
    'text.git-commit'
    'text.plain'
    'text.plain.null-grammar'
  ]
