@tab_bar_height: 25px;

.tab-bar .tab,
.tab-bar .tab .title,
.tab-bar .tab .close-icon {
  -webkit-transform: none;
}

.tab-bar {
  height: @tab_bar_height;
  padding-left: 0;
  box-shadow: none;
  background: #d8d8d8;
}

.tab-bar .tab,
.tab-bar .tab.active {
  height: @tab_bar_height - 1;
  line-height: @tab_bar_height - 2;
}

.tab-bar .tab {
  border-radius: 0;
  padding-left: 12px;
  top: 0;
  margin-left: 0;
  border-top: none;
  background: none;
  box-shadow: none;
}

.tab-bar .tab.active {
  background: #f4f4f4;
}

.tab-bar .tab,
.tab-bar .tab.active,
.tab-bar .tab.modified,
.tab-bar .tab.active.modified {
  .close-icon {
    line-height: @tab_bar_height - 3;
  }
}

.tab-bar .tab.modified:not(:hover) .close-icon {
  top: 8px;
}

.tab-bar .tab:first-child {
  margin-left: 0;
  padding-left: 12px;
}

.tab-bar .tab::before {
  display: none;
}

.tab-bar:after {
  height: 0px;
  border-bottom: none;
}

.tab-bar .tab.active .title { top: 0px; }

.editor {
  .comment { font-style: italic; }

  .entity.name.class,
  .entity.other.inherited-class {
    font-weight: bold;
    text-decoration: none;
  }

  .gutter { background-color: rgba(0, 0, 0, 0.04); } // for Atom Light theme
}
